*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background: #f5cac2;
	/* background-image: linear-gradient( to right, #ffffb3,#ffe6e6); */
	background-attachment: fixed;	
	background-size: cover;
}

main{
    display: flex;
    justify-content: center;
}


h1{
    /* text-align: center; */
    font-size: xxx-large;
    padding: 10px 30px;
}

.list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 60rem;
    margin-bottom: 3rem;
}

.card {
    box-shadow: 0 15px 30px 1px grey;
	background: rgba(255, 255, 255, 0.90);
    height: 25rem;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
    flex: 0 0 18rem;
}   

.profile-image{
    width: 90%;
    border-radius: 10px;
    max-height: 20vh;
    margin-top: 9px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content{
    margin-top: 10px;
    margin-left: 12px;
    margin-right: 12px;
    display: block;
    line-height: 1.5rem;    
}

button{
    min-width: 7rem;
    height: 2rem;
}

.delete-button {
    display: block;
    margin: 20px auto 10px;
    visibility: hidden;
    border-radius: 5px;
    outline: none;
    background-color: white;
    font-weight: 600;
    min-height: 3rem;
    border: 1px solid rgba(0,0,0,0.1);
    /* text-align: center; */
}

.delete-button:hover{
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgb(0 0 0 / 2%) 0 1px 3px 0;
    box-shadow: rgb(0 0 0 / 10%) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.search-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

#search{
    min-width: 20rem;
    min-height: 2rem;
    margin:0px 20px;
    
}

.search-label{
    font-size: large;
}

.add-button-wrapper{
    text-align: center;
    margin: 10px;
}

.add-button{
    border-radius: 5px;
    outline: none;
    background-color: #ed7966;
    color: white;
    font-weight: 600;
    min-height: 3rem;
    border: 1px solid rgba(0,0,0,0.1);
}
.add-button:hover{
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgb(0 0 0 / 2%) 0 1px 3px 0;
    box-shadow: rgb(0 0 0 / 10%) 0 4px 12px;
    background-color: rgba(237, 121, 102, 0.65);
    color: #f5f5f5;
}

input {
    font-family: inherit;
    width: 40%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}


input:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-color: darkslategray;
    border-image-slice: 1;
}


.card:hover .delete-button{
    visibility: visible;
}

.header{
    padding: 1rem;
    background-color: #ed7966;
    color: #2d2d2d;
    margin-bottom: 60px;
}

.form-wrapper{
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    align-items: center;
    gap: 20px;
    /* flex-basis: 50rem; */
}

form{
    width: 50rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.button-wrapper{
    margin-top: 25px;
}

.loader{
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 10px;
}

.show-loader{
    background: url("data:image/svg+xml,%3Csvg version='1.1' id='L9' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 80 80' enable-background='new 0 0 0 0' xml:space='preserve' class='loader hide'%3E%3Cpath fill='darkslategray' d='M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50'%3E%3CanimateTransform attributeName='transform' attributeType='XML' type='rotate' dur='1s' from='0 50 50' to='360 50 50' repeatCount='indefinite' /%3E%3C/path%3E%3C/svg%3E") no-repeat 99.5% center;
    background-repeat: no-repeat;
}